.panda-col .footer{
    border: 0;
    background-color: white;
}
.panda-card{
    border: 0;
}
.panda-slide .carousel-item{
    background-color: #fceae8;
    border-radius: 1em;
    margin-top: 100px;
}
.cat-col img{
    width: 100px;
}
.radious{
    border-radius: 1em;
}
.subcription{
    background-color: #fceae8;
    border-radius: 1em;
}